@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body,
#root{
    height: 100vh;
    margin: 0;
}

a{
    text-decoration: none;
}

body,
input, 
select,
button,
textarea{
    font-size: 1.6rem;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

header,
footer{
    background-color: #203040;
    color: #fff;
    display: flex;
}

header{
    grid-area: header;
    align-items: center;
   
}

header a{
    color: #fff;
}

a:hover{
    color: #ff8000;
}

main{
    grid-area: main;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.main{
    flex: 3
}

.sidebar{
    flex: 1
}

footer{
    grid-area: footer;
    justify-content: center;
    align-items: center;
}

/* Products */
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.products li {
    flex: 0 1 29rem;
    padding: 1rem;
    height: 47rem;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img{
    max-width: 37rem;
    max-height: 37rem;
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.product-price div,
.product-price button {
text-align: center;
flex: 1;
}

.button{
    padding: 1rem;
    border: .1rem solid #c0c0c0;
    background-color: #f0f0f0;
    cursor: pointer;
}

.button:hover {
    border-color: #808080;
}

.button.primary{
    background-color: #ffc000;
}

/* FILTER */
.Filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: .1rem #c0c0c0 solid;
}

.Filter div{
    flex: 1
}